.arrow {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate();
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 40px;
    height: 40px;
    border-bottom: 10px solid #ee3ec9;
    border-right: 10px solid #ee3ec9;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow:hover span {
    display: block;
    width: 40px;
    height: 40px;
    border-bottom: 10px solid #00ffff;
    border-right: 10px solid #00ffff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}